<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ head }}</title>
  </head>
  <style>
      h1{
          text-align:center;
          color:blue;
      }
      button{
          color:green;
      }
  </style>
  <body>
    <h1>The Styl Way!</h1>
    <hr />

  <body>
    <table>
        <th><button><a href="{% url 'index' %}">Home</a></button></th>
        <th><button><a href="{% url 'dashboard' %}">Dashboard</a></button></th>
    </table>
    <p>{{ blog.content }}</p>
  </body>
</html>
